<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="main article">
          <h1 class="title"><a href="/">bbcApp</a></h1>
        <h2><%= title %></h2>
        <p>2020-04-26</p>
        <p>
            記念すべき管理人だより第一号です！いつまで続くかわからないけど（笑）。ここでは私のちょっとした日記みたいな感じで
            たまに更新します。バージョンアップしたときとかね。
        </p>
        <p>
            さて、本題に入るとして、Texの使える日本語の掲示板ってないんですよね。
            以前は<a href="https://eman-physics.net/">emanさん</a>や<a href="http://hooktail.sub.jp/">物理の鍵しっぽさん</a>
            などであったんですが、閉鎖してしまったので残念です。そこで本サイトを立ち上げたわけです。
        </p>
        <p>
            質問サイトで<a href="https://physics.stackexchange.com/">stackexchange.com</a>があるんですけど、どちらかというと
            ある質問に対する答えるためのサイトな気がします。よりオープンな答えのないような質問をするようなサイトってある？
            <a href="https://chiebukuro.yahoo.co.jp/">yahoo知恵袋</a>だとTexが使えないので複雑な数式とか表現できないんですよね。
            そんでもってこいつを立ち上げたわけです。みなさんの活発な議論をお待ちしております。
        </p>
        <p>2020-04-27</p>
        <p>第二号です。このサイトはまだまだ小さくこれからどんどん大きくしていきたいと思います。</p>
        <ul>
          <li>検索システムを実装</li>
          <li>登録システムを実装？←個人情報保護に関する課題があるのでもっとサイトが大きくなってから</li>
          <li>カテゴリー機能を実装</li>
        </ul>
        <p>
          とりあえず目標はこんな感じとして。。あとサーバー代払うために広告貼らせていただいてます。結構いい感じに収益がでてきたら
          そのうち公開したいと思います。
        </p>
        <hr>
        <p>なんかあったら→dm@purun.la</p>
        <a href="/">Home</a>
      </div>
      <div class="main ad">
        広告:
      </div>
    </div>
  </body>
</html>
