<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="main article">
          <h1 class="title"><a href="/">bbcApp</a></h1>
        <h2><%= title %></h2>
        <ul>
            <li><a href="http://memopad.bitter.jp/web/mathjax/TeXSyntax.html">MathJax で利用可能なTEXコマンド（非公式） </a></li>
            <li><a href="https://www.mathjax.org/">mathjax</a></li>
        </ul>
        <hr>
        <a href="/">Home</a>
      </div>
      <div class="main ad">広告:</div>
    </div>
  </body>
</html>
